body {
  margin: 0;
  font-family: "Lato", sans-serif;
  background-image: url("../assets/cool.png");
}

header {
  width: auto;
  height: 43px;
  background-color: #303133;
}

#nav {
    top: 4.25%;
    height: 100%;
    width: 25vh;
    min-width: 266px;
    background-color: #303133;
    transition-property: all;
    transition-duration: 0.5s;
    z-index: 99;
    position: fixed;
}

.hidden {
  transform: translate(-400px, 0px);
}

header {
    position: fixed;
    width: 100%;
    z-index: 9999;
}

.headerElement {
  height: 40px;
  display: inline;
  cursor: pointer;
}

#headerContent {
    margin-left:250px;
}

.navButton {
  width: 100%;
  height: 10%;
  background-color: transparent;
  font-size: 2em;
  color: white;
  cursor: pointer;
  text-align: center;
  z-index: 999;
  border: none;
}

#search {
    border: none;
    cursor: pointer;
}

a:visited {
    color: hotpink;
}

.hidden2{
	display: none;
}

#loginRegisterDiv {
  border-style: solid;
  border-color:white;
  position: absolute;
  width: 400px;
  left: 40%;
  top: 250px;
  background-color: #303133;
  z-index: 999;
}

#noti {
    position: absolute;
    width: 20%;
    height: 30%;
    left: 275px;
    right: 25%;
    top: 50px;
    background-color: #303133;
    overflow:auto;
}

#submit {
    position: absolute;
    width: 20%;
    height: 90%;
    left: 15%;
    right: 25%;
    top: 50px;
    background-color: #303133;
    z-index: 999;
}

#searchSpace {
    background: #303133;
    position: absolute;
    float: right;
    top: 45%;
    right: 5%;
    width: 75%;
    height: 100%;
    overflow:auto;
}

#sortBox {
    color: white;
    background: #303133;
    position: absolute;
    top: 10%;
    right: 5%;
    width: 75%;
    height: 33%;
    overflow:auto;
}

.mainMemeContainer {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}

.mainMemeMediaContainer {
  width: 85%;
  height: 75%;
  top: 5%;
  left: 15%;
  position: absolute;
  z-index: 99;
}

.mainMemeMediaContent {
  width: 50%;
  height: 75%;
  top: 10%;
  left: 25%;
  position: absolute;
  background-color: white;
}

.memeButtonWidth .memeButton {
    width: 140px;
    height: 100px;
}
.memeButton {
    width: 100%;
    height: 70px;
}

#commentSpace {
    height: 75%;
    width: 80%;
    position: absolute;
    left: 15%;
    top: 85%;

    display: flex;
    justify-content: center;
    align-items: center;
}

#comments {
    height: 100%;
}

#profilePic {
    right: 25%;
    position: absolute;
    top: 35%;
}

#spotlightContainer {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 0;
}

#spotlight {
  width: 90%;
  height: 90%;
  margin-left: 5%;
  margin-top: 3.5%;
}
