body {
  margin: 0;
  font-family: "Lato", sans-serif;
  background-image: url("../assets/cool.png");
}

header {
  width: auto;
  height: 43px;
  background-color: #303133;
}

#nav {
  height: calc(100% - 43px);
  width: 25vh;
  min-width: 266px;
  background-color: #303133;
  transition-property: all;
   transition-duration: 0.5s;
}

.hidden {
  transform: translate(-400px, 0px);
}

.headerElement {
  height: 40px;
  display: inline;
  cursor: pointer;
}

#changeTheme {
  float: right;
}

#headerContent {
    margin-left:250px;
}

.navButton {
  width: 100%;
  height: 10%;
  background-color: transparent;
  border: none;
  font-size: 2em;
  color: white;
  outline: none;
  cursor: pointer;
}

#search {
    border: none;
    cursor: pointer;
}

a:visited {
    color: hotpink;
}

.hidden2{
	display: none;
}

#loginRegisterDiv {
    border-style: solid;
    border-color:white;
    position: absolute;
    width: 30%;
    height: 225px;
    left: 40%;
    right: 25%;
    top: 250px;
    background-color: #303133;
}

#noti {
    position: absolute;
    width: 20%;
    height: 30%;
    left: 275px;
    right: 25%;
    top: 50px;
    background-color: #303133;
    overflow:auto;
}

#submit {
    position: absolute;
    width: 310px;
    height: 545px;
    left: 15%;
    right: 25%;
    top: 50px;
    background-color: #303133;
}

#searchSpace {
    background: #303133;
    position: absolute;
    float: right;
    top: 45%;
    right: 5%;
    width: 75%;
    height: 100%;
    overflow:auto;
}

#sortBox {
    color: white;
    background: #303133;
    position: absolute;
    top: 10%;
    right: 5%;
    width: 75%;
    height: 33%;
    overflow:auto;
}

.mainMemeContainer {
    width: 100%;
    height: 100%;
    background-color: red;
    position: relative;
    z-index: 98;
}

.mainMemeMediaContainer {
  width: 85%;
  height: 75%;
  top: 5%;
  left: 15%;

  position: absolute;
  z-index: 99;
  background-color: blue;
}

.mainMemeMediaContent {
  width: 50%;
  height: 75%;
  top: 10%;
  left: 25%;
  position: absolute;
  background-color: white;
}



#commentsSpace {
    background: #303133;
    position: absolute;
    float: right;
    top: 90%;
    right: 5%;
    width: 75%;
    height: 100%;
    overflow:auto;
}

#commment {
    position: absolute;
    background: #303133;
    color: white;
}

/*
.meme {
    position: absolute;
    border-style: solid;
    border-color: greenyellow;
    margin-left: 25em;
}

.buttonFormat {
    float: left;
    border-style: solid;
    border-color:#0099ff;
    width: 100px;
    height: 75px;
    float: right;
}

#commentBox {
    overflow: auto;
    position: absolute;
    width: 410px;
    height: 200px;
    background: #303133;
    padding-top: 10px;
    border-style: solid;
    border-color:#0099ff;
    left: 25%;
}*/

#profilePic {
    right: 25%;
    position: absolute;
    top: 35%;
}
